<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Contact & Office Hours</h3>
    <p>
      Check the course <a href="https://uncch.instructure.com/courses/17305/files">canvas shell</a> for direct access to course files.
    </p>
    <p>
      To request a meeting or reach out with questions contact me directly at <a href="mailto:sgotzler@unc.edu">sgotzler@unc.edu</a>. 
    </p>
    <p>
      Office Hours: Mon 11:00AM-1:00PM / Wed 2:00PM-4:00PM GL 313.
    </p>
      <!--End mc_embed_signup-->
    </div>
    <hr/>
  </div>
</section>
